<h1 class='text-center m-5'>你想對誰說幹話?</h1>

<div class="container">

  <form method="POST" action="/">

    <div class="row justify-content-center">
      <div class="col-4">
        <div class="card text-white bg-secondary mb-3 text-center" style="width: 18rem; height:18rem">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
            class="card-img-top" alt="..." width="100%" height="80%">
          <div class="card-body">
            <input class="form-check-input" type="radio" name="profession" id="engineer" value="engineer">
            <label class="form-check-label" for="engineer">
              工程師
            </label>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card text-white bg-secondary mb-3 text-center" style="width: 18rem; height:18rem">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
            class="card-img-top" alt="..." width="100%" height="80%">
          <div class=" card-body">
            <input class="form-check-input" type="radio" name="profession" id="designer" value="designer">
            <label class="form-check-label" for="designer">
              設計師
            </label>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card text-white bg-secondary mb-3 text-center" style="width: 18rem; height:18rem">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
            class="card-img-top" alt="..." width="100%" height="80%">
          <div class=" card-body">
            <input class="form-check-input" type="radio" name="profession" id="entrepreneur" value="entrepreneur">
            <label class="form-check-label" for="entrepreneur">
              創業家
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 ">
        <button class="btn btn-primary btn-lg m-5" type="submit">點擊產生幹話</button>
      </div>
    </div>

    <div class="container p-3 my-3 border" style="text-align: center">
      <h1>{{trashTalk}}</h1>
    </div>

</div>
</form>
</div>